.accreditorForm__section {
  padding: 125px 0 40px 0;
  background-color: #009bae;
}

.accreditorForm {
  animation: fadein 2s, slidein 2s;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 30px 30px;
  background-color: white;
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid lightgrey;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.accform__title {
  padding: 10px 0;
}

.accform__format,
.accform__participation-types,
.accform__credits {
  display: flex;
}

input[type="radio"] {
  margin: 0 10px;
}

.accreditorForm label {
  margin-top: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.accreditorForm h6 {
  margin-top: 15px;
  font-weight: bold;
}

label.accform__radio-label,
label.accform__credits-label {
  margin: 0;
  font-weight: normal;
}

.accform__credits {
  flex-direction: column;
}

.accform__submit {
  margin: 30px 0;
  color: white;
  background-color: #ff9608;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  &:hover {
    background-color: orange;
  }
}
