.accreditorForm {
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px 30px;
  max-width: 500px;
  margin: 0 auto;
}

.accform__title {
  white-space: nowrap;
}

.accform__format,
.accform__participation-types,
.accform__credits {
  display: flex;
}

input[type="radio"] {
  margin: 0 10px;
}

.accreditorForm label {
  margin-top: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.accreditorForm h6 {
  margin-top: 15px;
  font-weight: bold;
}

label.accform__radio-label,
label.accform__credits-label {
  margin: 0;
  font-weight: normal;
}

.accform__credits {
  flex-direction: column;
}

.accform__submit {
  margin: 30px 0;
  color: white;
  border: 1px solid #007bff;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
