.card {
  animation: slidein 1s, fadein 1s;
  position: relative;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}
