/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .shift-down {
  margin-top: 80px;
} */

.nav-filler {
<<<<<<< HEAD
  height: 115px;
=======
  height: 120px;
>>>>>>> 637c4187352ad8f5c73c038c63620ca3f4bc275b
}

.portfolio-item {
  margin-bottom: 20px;
  cursor: pointer;
}

.card.h-100 {
  transition: box-shadow 300ms ease-in-out;
}

.card.h-100:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.row-lawyer {
  justify-content: center;
}

.upload {
  cursor: pointer;
}

.bg-turq {
  background: #009bae;
}

.bg-orange {
  background: #ff9608;
}
