.lawyer__new-cle {
  display: none;
}

.lawyer__custom-upload {
  color: white;
  display: inline-block;
  margin: 0;
  padding: 8px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.load {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: 0;
  z-index: 1;
}

.no-load {
  display: none;
}

.cle-img {
  padding: 5px;
  height: 150px;
  background: image-url("cle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.cle-img-bot {
  height: 5px;
  width: 100%;
  border-bottom: 1px solid gray;
}

.lawyer-name {
  color: #0f3e77;
}

a.card:hover {
  text-decoration: none;
}

.card-ryan {
  background: image-url("ryan.jpg");
}

.card-christian {
  background: image-url("christian.jpg");
}

.card-john {
  background: image-url("john.jpg");
}

.card-stephanie {
  background: image-url("stephanie.jpg");
}

.card-martin {
  background: image-url("martin.jpg");
}

.card-person {
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  background-position: center center;
}
